/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
-fx-background-color: black;
}

#menuBar{
    -fx-fill: #313d4b;
}

.btn{
    -fx-background-color: #29d8ca;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-border-color: #065154;
    -fx-border-width: 2;
    -fx-border-radius: 3;
}

#jeton{
    -fx-background-radius: 5em;  
    -fx-border-width: 4;
    -fx-border-color:  white;
    -fx-border-radius: 5em;
    -fx-background-color:  #cd5554;
}

#points{
    -fx-background-radius: 5em;  
    -fx-border-width: 4;
    -fx-border-color:  #313d4b;
    -fx-border-radius: 5em;
    -fx-background-color:  #cd5554;
}


.wonLabel{
    -fx-background-radius: 5em;  
    -fx-border-width: 4;
    -fx-border-color:  #313d4b;
    -fx-border-radius: 5em;
    -fx-background-color:  green;
    -fx-text-fill: white;
}
.lostLabel{
    -fx-background-radius: 5em;  
    -fx-border-width: 4;
    -fx-border-color:  #313d4b;
    -fx-border-radius: 5em;
    -fx-background-color: red;
    -fx-text-fill: white;   
}

.drawLabel{
    -fx-background-radius: 5em;  
    -fx-border-width: 4;
    -fx-border-color:  #313d4b;
    -fx-border-radius: 5em;
    -fx-background-color: blue;
    -fx-text-fill: white;   
}